.user-forgot-password-page {
    font-family: Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    overflow: hidden;
  }
  
  .user-forgot-password-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/pngtree-old-movie-posters-on-the-wall-image_2881318.jpg');
    background-position: center;
    opacity: 0.9;
    z-index: -1;
  }
  
  .user-forgot-password-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    color: white;
    width: 500px;
    z-index: 1;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .fp-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .fp-input-icon {
    position: absolute;
    left: 17px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    bottom: 38px;
  }
  
  input {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 50px;
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  input:focus {
    border-bottom-color: #3A5E49;
  }
  
  .user-forgot-btn {
    background-color: #b31200;
    color: white;
    padding: 15px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .user-forgot-btn:hover {
    background-color: #2e4c3b;
  }
  
  .user-confirmation-message {
    font-size: 1.1rem;
    color: #d3d3d3;
    margin-bottom: 20px;
  }
  
  .user-resend-message {
    margin-top: 20px;
  }
  
  .user-resend-btn {
    background-color: transparent;
    border: none;
    color: #b31200;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .user-resend-btn:hover {
    color: #2e4c3b;
  }
  
  /* Loader Overlay */
  .user-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* On top of all elements */
  }
