.user-signup-page {
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  overflow: hidden;
}

.user-signup-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pngtree-old-movie-posters-on-the-wall-image_2881318.jpg');
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

.user-signup-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px;
  border-radius: 10px;
  color: white;
  width: 550px;
  z-index: 1;
}

.user-signup-now {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.user-input-group,
.checkbox-group,
.user-otp-input-container {
  margin-bottom: 15px;
}

.user-input-wrapper,
.user-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.user-input-icon,
.user-input-icon {
  position: absolute;
  left: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  bottom: 30px;
}

input,
.user-signup-input,
.user-otp-input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  outline: none;
  transition: all 0.3s ease;
}

input::placeholder,
.user-signup-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus,
.user-signup-input:focus,
.user-otp-input:focus {
  border-bottom-color: #3A5E49;
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

.user-signup-input {
  padding-left: 40px; /* Adjust for icon */
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  color: white;
}

.user-signup-btn,
.user-modern-btn,
.user-otp-submit-btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.user-signup-btn {
  background-color: #b31200;
  height: 50px;
  color: white;
}

.user-signup-btn:hover,
.user-otp-submit-btn:hover {
  background-color: #2e4c3b;
}

.user-modern-btn {
  background-color: #007bff;
  color: #fff;
}

.user-modern-btn:hover {
  background-color: #0056b3;
}

.user-otp-submit-btn {
  background-color: #28a745;
  color: white;
}

.user-otp-submit-btn:hover {
  background-color: #218838;
}

.social-login-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.social-login-buttons button {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

a {
  color: #ccc;
  text-decoration: none;
}



.otp-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.otp-modal-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.otp-input-wrapper {
  margin-bottom: 20px;
}

.otp-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.otp-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.primary-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.secondary-btn {
  background-color: #f1f1f1;
  color: #4CAF50;
  border: none;
}

.otp-btn.disabled {
  cursor: not-allowed;
  background-color: #b5b5b5;
}

.otp-time-left {
  font-size: 14px;
  margin-top: 10px;
  color: #ff0000;
}

/* Title style */
.title {
  font-size: 42px;
  color: #333;
  font-weight: 700;
}



