.user-reset-password-page {
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  overflow: hidden;
}

.user-reset-password-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/pngtree-old-movie-posters-on-the-wall-image_2881318.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; /* Reduce visibility of the background image */
  z-index: -1;
}

.user-reset-password-container {
  background-color: rgba(0, 0, 0, 0.95); /* Slightly lighter background for better contrast */
  padding: 40px;
  border-radius: 10px;
  color: white;
  width: 500px;
  z-index: 1;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2); /* Add a glowing box shadow */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Add a subtle border */
  text-align: center; /* Center align text (optional) */
}  

h1 {
  text-align: center;
}

.user-reset-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.user-reset-input-icon {
  position: absolute;
  left: 17px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  bottom: 38px;
}

.user-reset-password-input {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-bottom-color 0.3s ease-in-out;
}

.user-reset-password-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.user-reset-password-input:focus {
  border-bottom-color: #9333EA;
}

.user-reset-btn {
  background-color: #9333EA;
  color: white;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.user-reset-btn:hover {
  background-color: #9333EA;
}

/* Loader Overlay */
.user-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* On top of all elements */
}
